/.aws
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.dotnet
/.gnupg
/.landscape
/.lesshst
/.local
/.motd_shown
/.npm
/.profile
/.sudo_as_admin_successful
/.terraform.d
/.venv
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/aws
/tutorial